body {
	font-family: Arial, 'Times New Roman', Times, serif;
	text-align: center;
	color: #111;
}

.container {
	padding: 1em;
	border: 1px solid #000;
}

.container h1 {
	font-size: 32px;
	color: red;
}

header {
	padding: 0 1em;
	background: rgb(93, 93, 255);
}

header,
nav ul {
	display: flex;
	justify-content: space-between;
}

header p {
	color: white;
}

nav ul li {
	padding-left: 4px;
	list-style-type: none;
	color: white;
}

.logo {
	display: flex;
	justify-content: start;
	align-items: center;
}

.logo img {
	object-fit: cover;
	border-radius: 100%;
	margin-right: 8px;
}

footer {
	background: rgb(15, 15, 15);
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	color: white;
	margin: 0px;
}
